*
{
  margin: 0;
  padding: 0;
  font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body
{
  background-image: linear-gradient(to right,  rgba(0, 115, 255, 0.993), rgb(45, 255, 255));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-box
{
  height: 75%;
  width: 50%;
  background: #ffffff;
  border-radius: 20px ;
  box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  overflow: auto;
}
.img-logo
{
  height: 35px;
  margin: 15px;
  position: absolute;
}
.img-login
{
  height: 20px;
  margin-top: 10px;
  margin-left: 45px;
}
.inputs
{
  border: none;
  width: 20vw;
  color: black;
  height: 4vh;
  background-color: rgba(207, 206, 206, 0.786);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 3px;
}
.btn-enviar
{
  border: 3px,solid;
  width: 8vw;
  color: black;
  height: 5vh;
  background-color: rgb(45, 237, 255);
  margin: 10px;
  border-radius: 5px;
}
.btn-enviar:hover
{
  background-color:rgba(0, 255, 110, 0.993);
}
.btn-cadastrar
{
  border: 3px,solid;
  width: 8vw;
  color: black;
  height: 5vh;
  background-color: rgba(207, 206, 206, 0.786);
  margin: 10px;
  border-radius: 5px;
}
.btn-cadastrar:hover
{
  background-color:rgb(45, 237, 255);
}
.login-img
{
  height: 75vh;
  width: 100%;
  border-radius:0px 20px 20px 0px;
}
.login-form
{
  width: 100%;
  display: grid;
  justify-content: center;
}
.FDS
{
  display: grid;
  justify-content: center;
}